.cards-overview-grid {
  background-color: #c4c4c4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 180px));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}
