<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/mulheres-cientistas-memory-game/favicon.ico">
    <title></title>
    <script type="module" src="/mulheres-cientistas-memory-game/src/init.js"></script>
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/style.css">
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/body.css">
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/cards-overview-grid.css">
    <script type="module" src="/mulheres-cientistas-memory-game/view/components/appHeader/appHeader.js"></script>
    <script type="module" src="/mulheres-cientistas-memory-game/view/components/appFooter/appFooter.js"></script>
    <script type="module" src="/mulheres-cientistas-memory-game/view/components/appCardNameImage/appCardNameImage.js"></script>
  </head>
  <body>

    <app-header></app-header>

    <main>
      <div class="cards-overview-grid">
      </div>
    </main>

    <app-footer></app-footer>
    <script type="module" src="/mulheres-cientistas-memory-game/view/js/cards-overview.js"></script>

  </body>
</html>
