<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/view/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/view/css/style.css">
    <link rel="stylesheet" type="text/css" href="/view/css/body.css">
    <script type="module" src="/src/init.js"></script>
    <script type="module" src="/view/components/appHeader/appHeader.js"></script>
    <script type="module" src="/view/components/appFooter/appFooter.js"></script>
  </head>
  <body>

    <app-header></app-header>
    <main>
    </main>
    <app-footer></app-footer>

  </body>
</html>
