<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/mulheres-cientistas-memory-game/favicon.ico">
    <title></title>
    <script type="module" src="/mulheres-cientistas-memory-game/src/init.js"></script>
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/style.css">
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/body.css">
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/start-form.css">
    <script type="module" src="/mulheres-cientistas-memory-game/view/components/appHeader/appHeader.js"></script>
    <script type="module" src="/mulheres-cientistas-memory-game/view/components/appFooter/appFooter.js"></script>
  </head>
  <body>

    <app-header></app-header>

    <main class="form-container">
      <form class="start-form">
        <h2 class="form-title" data-i18n="welcome">Bem-vindo(a)</h2>

        <div class="input-group">
          <i class="fa-solid fa-user input-icon"></i>
          <input type="text" id="username" data-i18n="inputNamePlaceholder" placeholder="Digite seu nome" required autocomplete="off">
        </div>
      
        <button type="submit" class="btn-start">
          <span class="btn-start-text" data-i18n="start">Iniciar</span><i class="fa-solid fa-play"></i>
        </button>
      </form>
    </main>

    <app-footer></app-footer>
    <script type="module" src="/mulheres-cientistas-memory-game/src/login.js"></script>
  </body>
</html>
