<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/mulheres-cientistas-memory-game/favicon.ico">
    <title></title>
    <script type="module" src="/mulheres-cientistas-memory-game/src/init.js"></script>
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/style.css">
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/body.css">
    <link rel="stylesheet" type="text/css" href="/mulheres-cientistas-memory-game/view/css/difficulty-menu.css">
    <script type="module" src="/mulheres-cientistas-memory-game/view/components/appHeader/appHeader.js"></script>
    <script type="module" src="/mulheres-cientistas-memory-game/view/components/appFooter/appFooter.js"></script>
  </head>
  <body>

    <app-header></app-header>

    <main>
      <section id="difficulty-menu" class="menu-container dropdown-escondido">
        <h2 data-i18n="selectDifficulty">Selecione a Dificuldade</h2>
        <p data-i18n="difficultyDescription">Isso afetará o algoritmo e a quantia de cartas:</p>
        
        <div class="buttons-difficulty">
          
          <button class="btn-diff easy" data-difficulty="easy" data-cards="8">
            <span data-i18n="diffEasyName">Aprendiz</span>
            <small><span data-i18n="qtyCards10">10 Cartas</span></small>
          </button>
          
          <button class="btn-diff medium" data-difficulty="medium" data-cards="16">
            <span data-i18n="diffMediumName">Pesquisador</span>
            <small><span data-i18n="qtyCards15">15 Cartas</span></small>
          </button>
          
          <button class="btn-diff hard" data-difficulty="hard" data-cards="24">
            <span data-i18n="diffHardName">Doutor</span>
            <small><span data-i18n="qtyCards20">20 Cartas</span></small>
          </button>

        </div>
      </section>
    </main>

    <app-footer></app-footer>

    <script type="module" src="/mulheres-cientistas-memory-game/view/js/pre-game.js"></script>
  </body>
</html>
